// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Seus estilos customizados
:root {
    --bs-body-font-family: 'Inter', sans-serif;
}

body {
    margin-left: 0;
    margin-right: 0;
}
